<script type="text/html" id="main-app-template">
    <h1 class="header">Конвертер валют</h1>
    <div class="form">
        <input type="number" placeholder="Введите сумму в USD" class="in" />
        <button class="ok">Перевод</button>
    </div>
    <div class="error">Введите корректное значение</div>
    <div class="out">
        ₽езультат: <input type="text" class="result" value="0" disabled="disabled" />
        Текущий курс: <input type="text" class="nowRate" value="0" disabled="disabled" />
    </div>
</script>